<div id="signin">
  <h1>用户登录</h1>
  <%= form_for :sessions do |f| %>
    <%= f.label :username, "用户名：", class: "t-label" %>
    <%= f.text_field :username %>

    <%= f.label :password, "密码：", class: "t-label" %>
    <%= f.password_field :password %>

    <%= f.submit "登录" %>
    
  <% end %>
</div>
