<!DOCTYPE html>
<html>
<head>
  <title>Wxyzipa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="body">
    <header>
      <a href="/" id="logo"></a>
      <nav>
        <ul id="top_nav">
          <li id="home_icon" class="icon"><a href="#"><%= image_tag('home_icon.gif') %></a></li>
          <li class="icon"><a href="#"><%= image_tag('contact_icon.gif') %></a></li>
        </ul>
      </nav>
      <nav>
        <ul id="menu">
          <li><a id="intro">INTRO</a></li>
          <li><a id="activities">ACTIVITIES</a></li>
          <li><a id="works">WORKS</a></li>
          <li><a id="members">MEMBERS</a></li>
          <li><a id="contacts">CONTACTS</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <small>Copyright 2014 Information & Photography Association. All Rights Reserved.</small>
    </footer>

  </div>
</body>
</html>
